@model GameListViewModel

@{
    ViewData["Title"] = " | Game Catalog";

    // aliases to make paging, sorting, and filtering code shorter
    RouteDictionary current = Model.CurrentRoute;
    RouteDictionary routes = Model.CurrentRoute.Clone();
}

<h1>Game Catalog</h1>

@* search form *@
<form asp-action="Search" method="post" class="form-inline">
    <h5 class="mt-1 mr-5">Find a game</h5>
    <label>Search Term:</label>
    <input type="text" asp-for="SearchTerm" class="form-control ml-2 mr-2">
    Search By:
    <label class="radio-inline">
        <input type="radio" class="form-control ml-2 mr-2"
               asp-for="Type" value="game" checked>Title
    </label>
    <label class="radio-inline">
        <input type="radio" class="form-control ml-2 mr-2"
               asp-for="Type" value="developer">Developer
    </label>
    <label class="radio-inline">
        <input type="radio" class="form-control ml-2 mr-2"
               asp-for="Type" value="genre">Genre
    </label>
    <button type="submit" class="btn btn-primary ml-2 mr-2">Find</button>
    <span asp-validation-for="SearchTerm" class="text-danger"></span>
</form>

@* filter form *@
<form asp-action="Filter" method="post" class="form-inline">
    <label>Developer: </label>
    <select name="filter" class="form-control m-2"
            asp-items="@(new SelectList(
            Model.Developers, "DeveloperId", "FullName", current.DeveloperFilter))">
        <option value="@GamesGridDTO.DefaultFilter">All</option>
    </select>

    <label>Genre: </label>
    <select name="filter" class="form-control m-2"
            asp-items="@(new SelectList(
            Model.Genres, "GenreId", "Name", current.GenreFilter))">
        <option value="@GamesGridDTO.DefaultFilter">All</option>
    </select>

    <label>Price: </label>
    <select name="filter" class="form-control m-2"
            asp-items="@(new SelectList(
            Model.Prices, "Key", "Value", current.PriceFilter))">
        <option value="@GamesGridDTO.DefaultFilter">All</option>
    </select>

    <button type="submit" class="btn btn-primary mr-2">Filter</button>
    <button type="submit" class="btn btn-primary"
            name="clear" value="true">
        Clear
    </button>
</form>

@* add to cart form *@
<form asp-action="Add" asp-controller="Cart" method="post">
    <table class="table table-bordered table-striped table-sm">
        @* for each table column, update the route dictionary with the field to sort by, and then use
            that route dictionary and the current route to create route segments for sorting link *@
        <thead class="thead-dark">
        <tr>
            <th>Image</th>
            <th>
                @{ routes.SetSortAndDirection(nameof(Game.Title), current); }
                <a asp-action="List" asp-all-route-data="@routes"
                   class="text-white">Title</a>
            </th>
            <th>
                Developer(s)
            </th>
            <th>
                @{ routes.SetSortAndDirection(nameof(Genre), current); }
                <a asp-action="List" asp-all-route-data="@routes"
                   class="text-white">Genre</a>
            </th>
            <th>
                @{ routes.SetSortAndDirection(nameof(Game.Price), current); }
                <a asp-action="List" asp-all-route-data="@routes"
                   class="text-white">Price</a>
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            @foreach (Game game in Model.Games)
            {
                <tr>
                    <td><img src="~/images/@game.Image" width="200" height="200" /></td>
                    <td>
                        <a asp-action="Details" asp-route-id="@game.GameId"
                           asp-route-slug="@game.Title.Slug()">
                            @game.Title
                        </a>
                    </td>
                    <td>
                        @foreach (var ba in game.GameDevelopers)
                        {
                            <p>
                                <a asp-action="Details" asp-controller="Developer"
                                   asp-route-id="@ba.DeveloperId"
                                   asp-route-slug="@ba.Developer.FullName.Slug()">
                                    @ba.Developer.FullName
                                </a>
                            </p>
                        }
                    </td>
                    <td>@game.Genre?.Name</td>
                    <td>@game.Price.ToString("c")</td>
                    <td>
                        <button type="submit" name="id" value="@game.GameId"
                                class="btn btn-primary">
                            Add To Cart
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>

@* paging links *@
@{
    @* Reset the route dictionary to the current route values. This is necessary
        to clear the changes made while creating the sorting links above. Clone so
        don't overwrite current route segment values. *@
    routes = Model.CurrentRoute.Clone();

    @* update route dictionary with page number in 'i' and then use
        updated route dictionary to create route segments for paging link.*@
    for (int i = 1; i <= Model.TotalPages; i++)
    {
        routes.PageNumber = i;
        <a asp-action="List" asp-all-route-data="@routes"
           class="btn btn-outline-primary @Nav.Active(i, current.PageNumber)">@i</a>
    }
}
