@model GameListViewModel

@{
    ViewData["Title"] = " | Search Results";

    // aliases to make paging, sorting, and filtering code shorter
    RouteDictionary current = Model.CurrentRoute;
}

<div class="row">
    <div class="col">
        <h1 class="mb-2">@Model.Header</h1>
    </div>
</div>

@* search form *@
<form asp-action="Search" method="post" class="form-inline">
    <h5 class="mt-1 mr-5">Find a game</h5>
    <label>Search Term:</label>
    <input type="text" asp-for="SearchTerm" class="form-control ml-2 mr-2">
    Search By:
    <label class="radio-inline">
        <input type="radio" class="form-control ml-2 mr-2"
               asp-for="Type" value="game" checked>Title
    </label>
    <label class="radio-inline">
        <input type="radio" class="form-control ml-2 mr-2"
               asp-for="Type" value="developer">Developer
    </label>
    <label class="radio-inline">
        <input type="radio" class="form-control ml-2 mr-2"
               asp-for="Type" value="genre">Genre
    </label>
    <button type="submit" class="btn btn-primary ml-2 mr-2">Find</button>
    <span asp-validation-for="SearchTerm" class="text-danger"></span>
</form>

<table class="table">
    <tbody>
        @foreach (var game in Model.Games)
        {
            <tr>
                <td><img src="~/images/@game.Image" width="200" height="200" /></td>
                <td>
                    <a asp-action="Details" asp-route-id="@game.GameId"
                   asp-route-slug="@game.Title.Slug()">
                        @game.Title
                    </a>
                </td>
                <td>
                    @foreach (var ba in game.GameDevelopers)
                    {
                        <p>
                            <a asp-action="Details" asp-controller="Developer"
                       asp-route-id="@ba.DeveloperId"
                       asp-route-slug="@ba.Developer.FullName.Slug()">
                                @ba.Developer.FullName
                            </a>
                        </p>
                    }
                </td>
                <td>@game.Genre?.Name</td>
                <td>@game.Price.ToString("c")</td>
                <td>
                    <button type="submit" name="id" value="@game.GameId"
                        class="btn btn-primary">
                        Add To Cart
                    </button>
                </td>
            </tr>
        }
        }
    </tbody>
</table>
